.searchBar {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.search {
  text-align: center;
  border-radius: 4px;
  padding: 1rem 2.5rem;
  background-color: rgb(3, 3, 24);
  color: white;
  border: 1px solid rgba(0, 153, 255, 0.842);
  font-size: 1rem;
}

.search_btn {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.4rem 3rem;
  border-radius: 5px;
  outline: none;
  background-color: rgb(3, 3, 24);
  color: white;
  border: 1px solid rgba(0, 153, 255, 0.842);
}
